@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Variables, utilities */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */

.liste-nav{
    list-style: none;
    display: flex;
    align-items: center;
}

.sous-nav{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-content{
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.right-content{
    margin-right: 20px;
    display: flex;
    align-items: center;
}


li a{
    color: var(--thrid-color);
    text-decoration: none;
    margin: 2rem;
    font-size: 30px;
    font-family: var(--primary-font);
}

li a:hover{
    background-color: var(--secondary-color);
}