.grid-services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    background: linear-gradient(135deg, #c03567, #f0e6e7);
    background-size: 200% 200%;
    animation: backgroundShift 10s ease infinite;
    font-family: var(--secondary-font);
    padding: 15px;
    padding-bottom: 300px;
    padding-top: 100px;
    color: #f0e6e7;
    place-items: center;
    
}

.service-title{
    font-size: 24px;
    font-family: var(--primary-font);
}


.service-icon{
    margin-left: 10px;
}

.services-icon-text{
    display: flex;
    justify-content: left;
    align-items: center;
}

.service{
    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
        /* ombre pour effet flottant */
}

@media screen and (max-width: 1038px){
    .grid-services{
        grid-template-columns: repeat(2, 1fr);
        padding-top: 50px;
        text-align: left;
    }

    .service{
        align-items: flex-start; /* align the epilation title to the left */
    }
}

@keyframes backgroundShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}