@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* Variables, utilities */

:root {

    --primary-color: #c03667;
    --secondary-color: #d38b9c;
    --thrid-color: #ffe3ef;
    --fourth-color: #ec91d8;
    --basic-color: #ffffff;
    --dark-color: #000000;
    --grey-color: #bbbbbb;
    --dark-grey-color: #141414;
    --purple-variant-color: #9f407f;

    --primary-font: 'Fredoka', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;

    --front-index: z-index: 100;
    --back-index: z-index: 1;

}

.main-title{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5rem;
    color: var(--thrid-color);
    font-size: 4rem;
    font-family: var(--primary-font);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);

}

.main-sub-title{
    position: absolute;
    top: 40%;
    left: 32%;
    color: var(--thrid-color);
    font-size: 1.5rem;
    font-family: var(--secondary-font);
    opacity: 0.8;

}

.button-discovery{
    position: absolute;
    top: 45%;
    left: 28%;
    color: var(--thrid-color);
    font-size: 24px;
    font-family: var(--secondary-font);
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.button-discovery:hover{
    background-color: #f5a3b3;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    color: var(--dark-grey-color);
    transform: translateX(10%);
}

.main-title,
.main-sub-title,
.button-discovery {
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.arrival-page {
    background-attachment: fixed;
    background-position: center;
}

@media screen and (max-width: 1038px){
    .main-title{
        font-size: 3rem;
        top: 15%;
        width: 100%;
        text-align: center;
    }

    .main-sub-title{
        font-size: 1rem;
        top: 22%;
        left: 0%;
        width: 100%;
        text-align: center
    }

    .button-discovery{
        font-size: 18px;
        top: 27%;
        left: 0%;
    
    }
    
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}