@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* Variables, utilities */

:root {

    --primary-color: #c03667;
    --secondary-color: #d38b9c;
    --thrid-color: #ffe3ef;
    --fourth-color: #764b88;
    --fifth-color: #4f4f81;
    --six-color: #354e6f;
    --basic-color: #ffffff;
    --dark-color: #000000;
    --grey-color: #bbbbbb;
    --dark-grey-color: #141414;
    --purple-variant-color: #9f407f;

    --primary-font: 'Fredoka', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;

    --front-index: z-index: 10;
    --back-index: z-index: 1;

}

.main-title{
    position: absolute;
    top: 28%;
    left: 18%;
    color: var(--thrid-color);
    font-size: 72px;
    font-family: var(--primary-font);

}

.main-sub-title{
    position: absolute;
    top: 40%;
    left: 18%;
    color: var(--thrid-color);
    font-size: 24px;
    font-family: var(--secondary-font);

}

.button-discovery{
    position: absolute;
    top: 45%;
    left: 18%;
    color: var(--thrid-color);
    font-size: 24px;
    font-family: var(--secondary-font);
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.button-discovery:hover{
    background-color: var(--secondary-color);
}