.tarif-container {
    padding: 20px;
    animation: backgroundShift 5s infinite;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: linear-gradient(90deg, #d38b9c 0%, #db15db 100%);
}

.tarif-title{
    font-size: 30px;
    font-weight: bold;
    font-family: var(--primary-font);
    animation: backgroundShift 5s infinite;
    background: linear-gradient(90deg, #d38b9c 0%, #db15db 100%);
    color: white;
    padding-bottom: 50px;

}

@keyframes backgroundShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}