.bloc-spa-video {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em;
}

.spa-video {
    position: relative;
    top: -250px;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 5px;
}

.spa-background-next-section{
    background-color: var(--fourth-color);
    margin-bottom: -200px;
}

.spa-symbol-relaxation{
    opacity: 0.7;
}

.spa-quote{
    position: relative;
    top: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--primary-font);
    color: var(--thrid-color);
}

.spa-quote-author{
    font-size: 20px;
    font-family: var(--primary-font);
}

.spa-quote-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: var(--primary-font);
}

.change-quotes{
    display: flex;
}

.quotes-text-author{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: var(--primary-font);
    margin-left: 20px;
    margin-right: 20px;
}

.spa-quote-button-upward{
    margin-bottom: 20px;
    padding-right: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.spa-quote-button-backward{
    margin-bottom: 20px;
    padding-right: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}